@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/fonts/PFDinDisplayPro-Thin.eot');
    src: local('/fonts/PFDinDisplayPro-Thin'),
         url('/fonts/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PFDinDisplayPro-Thin.woff') format('woff'),
         url('/fonts/PFDinDisplayPro-Thin.ttf') format('truetype');
    font-weight: 50;
    font-style: normal;
}

body {
    font-family: 'PF DinDisplay Pro';
}

.divider {
    background-color: rgba(0, 0, 0, 0.1);
}

.rc-row-button {
    color: black;
    font-size: 35px;
    height: 35px;
    line-height: 35px;
    align-self: center;
}

.level1, .level2, .level3, .level4 {
    font-family: 'PF DinDisplay Pro';
}

.level3 {
    font-size: 17px;
}

input {
    text-align: center;
}

.btn {
    border-radius: 70px;
    outline: none !important;
}

.btn-info {
    background-color: rgba(90, 200, 245, 0.95);
}

.icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon.disabled {
    opacity: 0.3;
}

.logo {
    width: 287px;
    height: 73px;
    background-image: url("/img/logo.png");
}

.icon.light {
    background-image: url("/img/light.png");
}

.icon.grow {
    background-image: url("/img/grow.png");
}

.icon.control {
    background-image: url("/img/control.png");
}

.icon.aeration {
    background-image: url("/img/bubbles.png");
}

.icon.arrow-left {
    background-image: url("/img/arrow-left.svg");
}

.icon.timer {
    background-image: url("/img/timer.png");
}

.icon.cycle {
    background-image: url("/img/cycle.png");
}

// toggle
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}